@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea {
    color:#454545;
    font-family:Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    font-size:12px;
    font-weight:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    }
body{
    background-color: #f5f5f5;
    }
a {
    text-decoration: none; 
    color: inherit;
    background-color: transparent; 
}
span, em {
    font-style: normal;
    font-weight: normal;
    color: inherit;
    background-color: transparent; 
}
body {
    font-family: 'Pretendard Variable', sans-serif;
}
/* 타이틀 */
.large_consulting_title {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
/* padding */
.large_consulting_pd30{
    padding: 30px;
}
/* 공통 선택자 */

.affiliate_service_btm [class*="detail"],
.advertising_product_btm [class*="detail"],
.advertising_agency_btm [class*="detail"],
.marketing_solutions_btm [class*="detail"]{
    position: relative;
}
/* 제일 큰 레이아웃 */
.large_consulting {
    width: 820px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.large_consulting > div:not(.marketing_viral) {
    background-color: white;
    border-radius: 8px;
}
/* 대형의뢰 */
.agency_request_btm [class*="agency_request_btm"] {
    display: flex;
    justify-content: space-between;
}
.agency_request_btm{
    margin-top: 10px;
}
.agency_request_btm a{
    display: flex;
    align-items: center;
    height: 33px;
    font-size: 15px;
    font-weight: 500;
}
.agency_request_btm span{
    font-size: 16px;
    font-variant-numeric: tabular-nums;
    display: flex;
    align-items: center;
    height: 33px;
    margin-right: 18px;
    font-weight: 500;

} 
.agency_request_btm5 a{
    color:  #C8C8C8;
}
/* 중간배너 */
.large_consulting_mid_banner img{
    border-radius: 8px;
}
.large_consulting_mid_banner a img {
    height: 125px;
    border: 1px solid black;
    width: 100%;
}
/* 스와이퍼 */
.large_consulting_wrap{
    width: 820px;
}
.swiper-slide img{
    border: 1px solid black;
    height: 245px;
    border-radius: 8px;
    background-size: cover;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    display: flex;
}
.swiper-slide {
    width: 100%;
    height: 100%;
}
/* 탭 공통 선택자 */
.tab_common_selector{
    border-radius: 20px;
    width: calc(33%);
    border: 1px solid #E4E4E4;
    display: flex;
}
.adverising_product_tap a,
.advertising_agency_tap a,
.marketing_solutions_tap a{
    margin-right: 15px;
}


.tab-content img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 20px;
    
}
.tab-content em{
    color: #888;
    font-size: 14px;
}
.advertising_product_top a,
.advertising_agency_top a,
.marketing_solutions_top a  {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab-content {
    display: none;
}
.tab-content.active {
    display: block; 
}
.advertising_agency_top,
.advertising_product_top,
.marketing_solutions_top {
    display: flex;
    justify-content: space-between;
}
.advertising_agency_1,
.advertising_agency_2,
.advertising_agency_3,
.marketing_solutions_1,
.marketing_solutions_2,
.marketing_solutions_3,
.advertising_product_1,
.advertising_product_2,
.advertising_product_3 {
    display: flex;
}
.adverising_product_tap a:nth-child(2),
.adverising_product_tap a:nth-child(3),
.advertising_agency_tap a:nth-child(1),
.advertising_agency_tap a:nth-child(3),
.marketing_solutions_tap a:nth-child(1),
.marketing_solutions_tap a:nth-child(2){
    color: #888;
}
.advertising_agency_btm p,
.advertising_product_btm p,
.marketing_solutions_btm p{
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    color: black ;
}
.advertising_agency_btm a:hover,
.advertising_product_btm a:hover,
.marketing_solutions_btm a:hover{
    border-color: #9e9e9e; 
}
.advertising_agency_btm a,
.marketing_solutions_btm a,
.advertising_product_btm a {
    transition: border-color 0.3s ease;
}
/* 제휴서비스 */
.affiliate_service_btm {
    margin-top: 20px;
}
.affiliate_service_1 ,
.affiliate_service_2 ,
.affiliate_service_3 {
    display: flex; 
    margin-top: 10px ;
    justify-content: space-between ;
}
.affiliate_service .affiliate_common_selector{
    display: flex;
    width: 360px;
}
.affiliate_service_btm img{
    width: 68px;
    height: 68px;
    border-radius: 40px;
}
.affiliate_service_btm [class*="detail"]{
    margin-left: 10px;
    display: flex;
    
    flex-flow: row wrap;
    height: 45px;
    margin-top: 14px;
    cursor: pointer;
}
.affiliate_service_btm span{
    font-size: 14px;
    color: #888 ;
    font-weight: 500;

}
.affiliate_service_btm p {
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin: 0;
}
.affiliate_service_1 img, 
.affiliate_service_2 img, 
.affiliate_service_3 img {
    transition: transform 0.3s ease; 
}
/* 마우스를 올렸을 때 이미지 크기 조절 */
.affiliate_service [class*="affiliate_common_selector"]:hover img{
    transform: scale(1.1);
}
/* 더보기 */
.large_consulting .see_more:hover{
    background-color: #e7e7e7;
}
.large_consulting .see_more{
    width: 83px;
    height: 29px;
    border-radius: 5px;
    background-color: #F3F2F6;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
/* 마케팅 서비스 */
.viral_services_btm,
.marketing_services_btm{
    margin-top: 15px;
}
/* 마,바 마지막 줄 마진삭제 */
.marketing_services_btm a:nth-last-child(1),
.viral_services_btm a:nth-last-child(1) {
    margin: 0;
}
.marketing_services_btm a {
    font-size: 15px;
    display: block;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 15px;
}
.marketing_solutions_btm span {
    font-size: 14px;
    color: #888;
}
/* 바이럴 서비스 */
.viral_services_btm a {
    font-size: 15px;
    display: block;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 15px;
}
/* 마케팅, 바이럴 공통 선택자 */
.marketing_viral {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.marketing_services,
.viral_services{
    width: calc(50% - 54px);
    background-color: white;
    border-radius: 8px;
}

/* 쪼잔뱅기들 */
.advertising_pd{ 
    padding: 30px 45px 25px 25px;
    display: flex;
    
}
.advertising_product_btm span,
.advertising_agency_btm span {
    font-size: 14px;
    color: #888;
}
/* 대행의뢰,마케팅서비스, 바이럴 서비스 밑줄 */
.agency_request_btm a:hover, 
.marketing_services_btm a:hover, 
.viral_services_btm a:hover {
    text-decoration: underline;
}
.agency_request_btm a:hover, 
.marketing_services_btm a:hover, 
.viral_services_btm a:hover {
    text-decoration: underline;
}
.advertising_product_btm,
.advertising_agency_btm,
.marketing_solutions_btm{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.advertising_product_1,
.advertising_product_2,
.advertising_product_3 ,
.advertising_agency_1,
.advertising_agency_2,
.advertising_agency_3 ,
.marketing_solutions_1,
.marketing_solutions_2,
.marketing_solutions_3 {
display: flex;
justify-content: space-between;
gap: 15px;
}